.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  gap: 10px;
  z-index: 10000;
  background-color: var(--bg-color);
}
.loading-title {
  font-size: 1.75em;
}
.img-rotate {
  width: 50px;
  animation: rotateInfinite 1.5s infinite linear;
}

@keyframes rotateInfinite {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
